@font-face {
  font-family: "Highway-Gothic";
  src: url("../media/HWYGOTH.TTF");
}

body {
  width: 1440px;
  height: 800px;
  background-color: rgb(245, 164, 0);
  font-family: "Highway-Gothic";
}

header{
  height: 100px;
}

main {
  height: 600px;
  }

aside {
  width: 224px;
  height: 600px;
  float: left;
  margin-right: 6px;
  padding-left: 10px;
}

section {
  display: flex; 
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

img {
  height: 380px;
  width: 380px;
  /* border-width: 2px;
  border-color: black;
  border-style: groove;
  margin: 2px; */
}

article {
  height: 208px;
  overflow-y: scroll;
  padding-left: 2px;
  margin-top: 10px;

}

footer {
  height: 100px;
  margin-top: 10px;
}

h1 {
  font-size: 4em;
  font-weight: bold; 
  display: block;
  padding-left: 10px;
}

h2 {
  font-size: 2em;
}

/* DEFAULTS FROM CHROMIUM.ORG */

p {
    display: block;  /* AS OPPOSE TO INLINE */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}